body {
  margin: auto;
  background-color: #eaeaea;
  padding-top: 3em;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: .8em;
  color: #aaaaaa;
}

.post {
  background-color: #fff;
  width: 70%;
  margin: 0 auto 3em;
  overflow: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0px #ccc;
  position: relative;
}

.info {
  padding: 1em;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  position: absolute;
  height: 100%;
  width: 30%;
}

.profile {
  width: 3em;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0px #ccc;
}

h3 {
  color: #5E5E5E;
  display: inline-block;
  padding: 0 1em 0 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5E5E5E;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}